<a href="https://colab.research.google.com/github/Soledad09876/uso-de-estructuras-de-datos-como-listas-y-diccionarios/blob/main/Listas_diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel
##[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
##Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len()

In [1]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

In [11]:
sum(gastos)

31442.22

In [10]:
len(gastos)

10

In [12]:
print(sum(gastos)/len(gastos))

3144.222

In [ ]:
##Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales
##y calcula el porcentaje con respecto al total de compras.

In [13]:
compras_sobre_3000 = [gasto for gasto in gastos if gasto > 3000]

In [14]:
len(compras_sobre_3000)

7

In [18]:
porcentaje_compras_sobre_3000 = len(compras_sobre_3000) / len(gastos) * 100

In [19]:
print(porcentaje_compras_sobre_3000)

70.0

In [ ]:
##Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [37]:
numeros = []

numeros.append(int(input("Ingresa el número 1: ")))
numeros.append(int(input("Ingresa el número 2: ")))
numeros.append(int(input("Ingresa el número 3: ")))
numeros.append(int(input("Ingresa el número 4: ")))
numeros.append(int(input("Ingresa el número 5: ")))

print("Lista de números:", numeros)

Ingresa el número 1: 3
Ingresa el número 2: 4
Ingresa el número 3: 3
Ingresa el número 4: 7
Ingresa el número 5: 9
Lista de números: [3, 4, 3, 7, 9]

In [ ]:
##Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [45]:
numeros = []

numeros.append(int(input("Ingresa el número 1: ")))
numeros.append(int(input("Ingresa el número 2: ")))
numeros.append(int(input("Ingresa el número 3: ")))
numeros.append(int(input("Ingresa el número 4: ")))
numeros.append(int(input("Ingresa el número 5: ")))

numeros.reverse()
print (numeros)

Ingresa el número 1: 2
Ingresa el número 2: 3
Ingresa el número 3: 4
Ingresa el número 4: 5
Ingresa el número 5: 6
[6, 5, 4, 3, 2]

In [46]:
##Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos
##entre 1 y el número ingresado.

In [48]:
numeros_primos =[]

numeros_primos.append(int(input("Ingresa un número: ")))

todos_numeros_primos = [numero for numero in range(1, numeros_primos[0] + 1) if numero > 1 and all(numero % i != 0 for i in range(2, int(numero ** 0.5) + 1))]
print(todos_numeros_primos)

Ingresa un número: 7
[2, 3, 5, 7]

In [ ]:
##Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [54]:
from datetime import datetime

fechas = []

fechas.append(int(input("Ingresa el día: ")))
fechas.append(int(input("Ingresa el mes: ")))
fechas.append(int(input("Ingresa el año: ")))

dia, mes, ano = fechas

fecha_valida = datetime(ano, mes, dia)

print(fecha_valida.strftime('%Y-%m-%d') == f'{ano:04d}-{mes:02d}-{dia:02d}')1

Ingresa el día: 30
Ingresa el mes: 11
Ingresa el año: 1978
True

In [ ]:
## Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día
##y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9].
##Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día,
##comparando el número de bacterias en cada día con el número de bacterias del día anterior.
##Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [56]:
num_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

print(num_bacterias)

[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

In [61]:
porcentajes_crecimiento = []

for i in range(1, len(num_bacterias)):
    muestra_anterior = num_bacterias[i - 1]
    muestra_actual = num_bacterias[i]
    crecimiento = 100 * (muestra_actual - muestra_anterior) / muestra_anterior

    porcentajes_crecimiento.append(round(crecimiento, 2))

print(porcentajes_crecimiento)

[75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

In [ ]:
##Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros,
##sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos.
##Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [62]:
ID = []

ID.append(int(input("Ingresa el ID 1: ")))
ID.append(int(input("Ingresa el ID 2: ")))
ID.append(int(input("Ingresa el ID 3: ")))
ID.append(int(input("Ingresa el ID 4: ")))
ID.append(int(input("Ingresa el ID 5: ")))
ID.append(int(input("Ingresa el ID 6: ")))
ID.append(int(input("Ingresa el ID 7: ")))
ID.append(int(input("Ingresa el ID 8: ")))
ID.append(int(input("Ingresa el ID 9: ")))
ID.append(int(input("Ingresa el ID 10: ")))

print("Lista de IDs:", ID)

Ingresa el ID 1: 2
Ingresa el ID 2: 4
Ingresa el ID 3: 3
Ingresa el ID 4: 5
Ingresa el ID 5: 7
Ingresa el ID 6: 12
Ingresa el ID 7: 12
Ingresa el ID 8: 5
Ingresa el ID 9: 4
Ingresa el ID 10: 2
Lista de IDs: [2, 4, 3, 5, 7, 12, 12, 5, 4, 2]

In [65]:
dulces = [id for id in ID if id % 2 == 0]
amargos = [id for id in ID if id % 2 != 0]

print("Cantidad de productos dulces:", len(dulces))
print("Cantidad de productos amargos:", len(amargos))

Cantidad de productos dulces: 6
Cantidad de productos amargos: 4

In [ ]:
##Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas.
##Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado.
##Cada pregunta vale un punto y hay opciones A, B, C o D.

In [67]:
preguntas = {
    "Pregunta 1": "D",
    "Pregunta 2": "A",
    "Pregunta 3": "C",
    "Pregunta 4": "B",
    "Pregunta 5": "A",
    "Pregunta 6": "D",
    "Pregunta 7": "C",
    "Pregunta 8": "C",
    "Pregunta 9": "A",
    "Pregunta 10": "B"
}

puntuacion = 0

for pregunta, respuesta_correcta in preguntas.items():
    respuesta_estudiante = input(pregunta + " (A, B, C o D): ")

    if respuesta_estudiante.upper() == respuesta_correcta:
        puntuacion += 1

print("Puntuación final:", puntuacion)

Pregunta 1 (A, B, C o D): a
Pregunta 2 (A, B, C o D): c
Pregunta 3 (A, B, C o D): b
Pregunta 4 (A, B, C o D): d
Pregunta 5 (A, B, C o D): d
Pregunta 6 (A, B, C o D): d
Pregunta 7 (A, B, C o D): c
Pregunta 8 (A, B, C o D): a
Pregunta 9 (A, B, C o D): b
Pregunta 10 (A, B, C o D): a
Puntuación final: 2

In [ ]:
##Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año.
##Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista.
##Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron,
##mostrando los meses por su nombre (Enero, Febrero, etc.).

In [73]:

meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
         "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

temperaturas_media = []

temperaturas_media.append(float(input("Ingresa la temperatura media de enero: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de febrero: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de marzo: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de abril: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de mayo: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de junio: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de julio: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de agosto: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de septiembre: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de octubre: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de noviembre: ")))
temperaturas_media.append(float(input("Ingresa la temperatura media de diciembre: ")))


promedio_anual = sum(temperaturas_media) / len(temperaturas_media)
print("\nPromedio anual de las temperaturas:", round(promedio_anual, 2))


print("\nMeses con temperatura por encima del promedio anual:")
for i in range(12):
    if temperaturas_media[i] > promedio_anual:
        print(f"{meses[i]}: {temperaturas_media[i]}°C")

Ingresa la temperatura media de enero: 30
Ingresa la temperatura media de febrero: 32
Ingresa la temperatura media de marzo: 29
Ingresa la temperatura media de abril: 25
Ingresa la temperatura media de mayo: 20
Ingresa la temperatura media de junio: 18
Ingresa la temperatura media de julio: 14
Ingresa la temperatura media de agosto: 10
Ingresa la temperatura media de septiembre: 15
Ingresa la temperatura media de octubre: 20
Ingresa la temperatura media de noviembre: 25
Ingresa la temperatura media de diciembre: 28

Promedio anual de las temperaturas: 22.17

Meses con temperatura por encima del promedio anual:
Enero: 30.0°C
Febrero: 32.0°C
Marzo: 29.0°C
Abril: 25.0°C
Noviembre: 25.0°C
Diciembre: 28.0°C

In [73]:
##Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos.
##Los datos de ventas se han almacenado en un diccionario:
##{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
##Escribe un código que calcule el total de ventas y el producto más vendido.

In [74]:
ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

total_ventas = sum(ventas.values())
print("Total de ventas:", total_ventas)

producto_mas_vendido = max(ventas, key=ventas.get)
print("Producto más vendido:", producto_mas_vendido)

Total de ventas: 920
Producto más vendido: Producto A

In [ ]:
##Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños.
##Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos

##Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [76]:
Votos_encuesta = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}
print(Votos_encuesta)

{'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

In [77]:
diseño_ganador = (max(Votos_encuesta, key=Votos_encuesta.get))
print("Diseño ganador:", diseño_ganador)
porcentaje_votos = (Votos_encuesta[diseño_ganador] / sum(Votos_encuesta.values())) * 100
print("Porcentaje de votos recibidos:", round(porcentaje_votos, 2), "%")

Diseño ganador: Diseño 5
Porcentaje de votos recibidos: 29.75 %

Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [83]:
salarios =  [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

bonificaciones = {}

for salario in salarios:
    bono = salario * 0.10
    if bono < 200:
        bono = 200
    bonificaciones[salario] = round(bono, 1)

    gasto_total = sum(bonificaciones.values())

bonos_minimos = list(bonificaciones.values()).count(200)


bono_maximo = max(bonificaciones.values())

print("Diccionario de bonificaciones:")
print(bonificaciones)
print("\nGasto total en bonificaciones: $", round(gasto_total, 2))
print("Cantidad de empleados con bonificación mínima: ", bonos_minimos)
print("Bonificación más alta entregada: $", round(bono_maximo, 2))

Diccionario de bonificaciones:
{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8, 7685: 768.5, 7782: 778.2, 7903: 790.3}

Gasto total en bonificaciones: $ 6087.8
Cantidad de empleados con bonificación mínima:  2
Bonificación más alta entregada: $ 790.3

Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [97]:
Diversidad_Biologica = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}

promedios = {}
mayor_diversidad = None
max_total = 0

# Se corrige la indentación y se reemplaza 'datos' por 'Diversidad_Biologica'
for area, valores in Diversidad_Biologica.items():
    plantas = valores[0]
    animales = valores[1]
    total = plantas + animales
    promedio = total / 2
    promedios[area] = promedio

    if total > max_total:
        max_total = total
        mayor_diversidad = area

print("Promedio de especies por área:")
for area, promedio in promedios.items():
    print(f"{area}: {round(promedio, 1)} especies en promedio")

print(f"\nÁrea con mayor diversidad biológica: {mayor_diversidad} ({max_total} especies en total)")

Promedio de especies por área:
Área Norte: 5027.5 especies en promedio
Área Leste: 5466.0 especies en promedio
Área Sul: 6732.5 especies en promedio
Área Oeste: 32067.0 especies en promedio
Área Centro: 33853.0 especies en promedio

Área con mayor diversidad biológica: Área Centro (67706 especies en total)

El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

 Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [102]:
edades = {
    'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}


todas_las_edades = sum(edades.values(), [])
media_general = sum(todas_las_edades) / len(todas_las_edades)
print("Edad media general entre todos los sectores es:", round(media_general, 2))

print("\nEdad media por sector:")
for sector, lista_edades in edades.items():
    media_sector = sum(lista_edades) / len(lista_edades)
    print(f"{sector}: {round(media_sector, 2)}")

personas_sobre_media = sum(1 for edad in todas_las_edades if edad > media_general)
print(f"\nNúmero de personas con edad por encima de la media general: {personas_sobre_media}")

Edad media general entre todos los sectores es: 38.62

Edad media por sector:
Setor A: 39.9
Setor B: 42.3
Setor C: 35.8
Setor D: 36.5

Número de personas con edad por encima de la media general: 18